{
	"$schema": "https://json.schemastore.org/prettierrc",
	"semi": false,
  	"trailingComma": "none",
  	"singleQuote": true,
	"tabWidth": 2,
	"useTabs": false,
	"bracketSpacing": true,
	"jsxBracketSameLine": true,
	"arrowParens": "avoid",
	"misingSemi": true,
	"printWidth": 100,
	"jsxSingleQuote": true,
	"bracketSameLine": true,
	"parser": "vue",
	"vueIndentScriptAndStyle": true,
	"endOfLine": "lf",
	"insertFinalNewLine": "true",
	"spaceBeforeFunctionParen": "always",
	"singleAttributePerLine": false,
	"htmlWhitespaceSensitivity": "css",
	"proseWrap": "preserve",
	"insertPragma": false,
	"requirePragma": false,
	"embeddedLanguageFormatting": "auto",
	"spaceInParens": false,
	"json": {
		"tabWidth": 4
	}
}