.wrapper {
		display: flex;
    flex-wrap: wrap;
    gap: 10px;
   .inputGroup {
      justify-content: space-between;
      align-items: center;
   }
	}
  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 5px;
    table-layout: fixed;
    th, td {
      padding: 8px;
      text-align: left;
    }
    th {
      background-color: #f2f2f2;
      &:first-of-type {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }
      &:last-of-type {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }
    }
    tr {


    }
    td {
      background-color: #f8f9fd;
    }
  }
  table {
    &[color="primary"] {
      th {
        background-color: rgb(var(--v-theme-primary));
        color: white;
      }
    }
    &[color="secondary"] {
      th {
        background-color: rgb(var(--v-theme-secondary));
        color: white;
      }
    }
  }

@media (max-width: 30em) { /* 30 x 16px = 480px */
  table {
    width: 98%;
    border-collapse: collapse;
    td {
      padding: 0.3em 1em;
      background-color: transparent;
      .logo {
        justify-content: flex-end;
      }
    }
    &[color="primary"] {
      td[data-titulo]::before {
        color: rgb(var(--v-theme-primary));
        :before {
          color: black
        }
      }
    }
    &[color="secondary"] {
      td[data-titulo]::before {
        color: rgb(var(--v-theme-secondary));
      }
    }
  }
  table thead {
    display: none;
  }
  table tr {
    display: flex;
    flex-direction: column;
		padding: 0.5em;
    margin: 0.5em 0;
    margin-bottom: 1em;
    border-radius: 4px;
    border-color: rgba(var(--v-border-color), var(--v-border-opacity));
    border-style: solid;
    border-width: 0;
    box-shadow: 0px 2px 1px -1px var(--v-shadow-key-umbra-opacity, rgba(0, 0, 0, 0.2)), 0px 1px 1px 0px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.14)), 0px 1px 3px 0px var(--v-shadow-key-ambient-opacity, rgba(0, 0, 0, 0.12));
  }
  table td[data-titulo] {
    display: flex;
    justify-content: space-between;
    // padding: 0.3em 1em;
  }
  table td:not([data-titulo]) {
    display: flex;
    justify-content: center;
    // padding: 0.3em 1em;
		width: 100% !important;
  }
  table td[data-titulo]::before {
    content: attr(data-titulo) ":";
    font-size: 0.8rem;
    font-weight: 500;
  }
}

td.action-column {
	display: flex;
	justify-content: space-around;
}