.auth {
		color: rgb(var(--v-theme-primary));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
		&_title {
			text-align: center;
			margin-bottom: 10px;
			h1 {
				font-size: 1.5em;
				margin: 0;
			}
		}

    &_box {
      display: flex;
      flex-direction: column;
      box-shadow: 0 2px 3px rgba(24, 103, 192, 0.55);
      border: 1px solid rgba(24, 103, 192, 0.4);
      padding: 30px;
			width: 450px;
			max-width: 450px;

			@media (max-width: 640px) {
				width: 90vw;
			}
    }

    .footer {
      text-align: center;
      width: 450px;
      margin-top: 20px;
      font-size: 0.9em;
      color: rgb(var(--v-theme-secondary));
      @media (max-width: 640px) {
        width: 90vw;
      }
    }
  }