* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
}

a.no-link {
	text-decoration: none;
	color: inherit;
}

.text-small {
	font-size: 0.6rem;
}

.v-card-text {
	&.text-small {
		font-size: 0.6rem;
	}
}

.v-card {
	&.screen-center {
		margin-left: auto;
		margin-right: auto;
	}

	.v-card-actions {
		button {
			margin-left: 10px !important;
		}
	}
}


	.labelFor {
		font-size: 1rem;
		font-weight: 500;
		line-height: 1.75;
		letter-spacing: 0.009375em;
	}

	.inputGroup {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		gap: 10px;

		.labelFor {
			margin-right: 10px;
			;
		}
	}		


.cursor {
	cursor: pointer;
}