@forward './typography_sizes.scss';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-width: 360px;
}

html {
	height: 100dvh;
	min-width: 360px;
	overflow-y: auto;
}

a.no-link {
	text-decoration: none;
	color: inherit;
}

.text-small {
	font-size: 0.6rem;
}

.dots-menu {
	min-width: 150px;

	.v-list-item {
		cursor: pointer;
		color: rgb(var(--v-theme-primary));
	}

}

.v-main {
	min-width: 360px;
}

.v-container {
	&.login {
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 90vh;

		@media (min-width: 1280px) {
			min-height: 90vh;
		}
	}

	&.permanent {
		margin-left: 10px;
	}
}

.v-dialog {
	max-width: 400px;
}

.v-card-text {
	&.text-small {
		font-size: 0.6rem;
	}
}

.v-card {
	margin: 10px;
	text-align: center;

	&.screen-center {
		margin-left: auto;
		margin-right: auto;
	}

	.logo {
		width: 150px;
		height: auto;
		justify-self: center;
	}

	.v-card-actions {
		button {
			margin-left: 10px !important;
		}
	}
}

.v-avatar {
	cursor: pointer;
	border: 2px solid transparent;

	&:hover {
		border: 2px solid #1976d2;
	}
}

.form {
	.header {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-bottom: 10px;
	}
}

.inputGroup {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 10px;

	.labelFor {
		margin-right: 10px;
	}
}

.margin {
	margin: 10px;
}

.margin-left-right {
	margin: 0px 10px;
}

.margin-top-bottom {
	margin: 10px 0px;
}

.cursor {
	cursor: pointer;
}

.actions {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-top: 10px;

	button {
		margin-left: 10px !important;
	}
}